.intro {
	display: flex;

	.intro-text {
		display: flex;
		flex-direction: column;
		max-width: 500px;
		text-align: center;
		margin-left: 30px;
	}

	.buttons {
		display: flex;
		gap: 20px;

		button {
			font-size: 1rem;
			font-weight: 600;
			border-radius: 5px;
			border: none;
			height: 60px;
			width: 380px;
			padding: 0;
			box-shadow: 0px 6px 16px -5px rgba(0, 0, 0, 0.75);
		}
		.chrome {
			@extend button;
			background-color: $softBlue;
			color: $white;

			&:hover {
				background-color: transparent;
				color: $softBlue;
				cursor: pointer;
				border: $softBlue 2px solid;
			}
		}

		.firefox {
			@extend button;
			background-color: $grayishBlue;
			color: $white;

			&:hover {
				background-color: transparent;
				color: $grayishBlue;
				cursor: pointer;
				border: $grayishBlue 2px solid;
			}
		}
	}

	.intro-image {
		display: flex;
		justify-content: center;
		position: relative;
		top: 50px;

		img {
			position: absolute;
			bottom: 60px;
			z-index: 5;
		}

		.background {
			background-color: $softBlue;
			position: relative;
			bottom: 50px;
			height: 400px;
			width: 550px;
			border-radius: 136px 0 0 200px;
			margin-top: 50px;
		}
	}
}

// Media queries
@include mobile {
	.intro {
		flex-direction: column-reverse;

		.buttons {
			gap: 15px;

			button {
				width: 450px;
			}
		}

		.intro-text {
			margin-left: 0;
			margin-top: 50px;
			padding: 30px;
		}

		.intro-image {
			top: 100px;

			.background {
				height: 200px;
				width: 350px;
				right: 0;
				left: 30px;
				margin-right: 0;
			}
			img {
				width: 100%;
				bottom: 40px;
				right: 0;
			}
		}
	}
}

@include tablet {
	.intro {
		flex-direction: column-reverse;
		.buttons {
			gap: 10px;

			button {
				width: 150px;
				height: 50px;
			}
		}

		.intro-image {
			top: 55px;

			img {
				width: 80%;
			}

			.background {
				left: 100px;
				width: 500px;
				height: 300px;
			}
		}
	}
}

@include desktop {
	.intro {
		.intro-image {
			display: flex;
			justify-content: flex-end;
			width: 100%;
		}
	}
}
