// @import "./_cssReset.scss";
@import "./colors";
@import "./breakpoints";
@import "./header";
@import "./intro";
@import "./features";
@import "./download";
@import "./faq";
@import "./footer";

body {
	font-size: 1rem;
	font-family: "Rubik", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
